body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
  width: 100%;
}
* {
  margin: 0px;
  padding: 0px;
}

.main_content{
  margin-left: 8.33%;
  background-color:#f5f7fa;
}


.me {
  margin-bottom: 40px;
}

.profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #595959;
  margin-bottom: 20px;
}

.name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #595959;
  margin-bottom: 25px;
}

.about_me {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* width: 400px; */
}


.work_experience {
  margin-bottom: 40px;

}

.h3_title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}


.h4_title{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.h4_title_company{
  color: #FB6D3A;
}

.h5_title{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: auto;
}

.work_experience_company_block{
  margin-bottom: 15px;
}

.work_experience_time{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
  margin-bottom: 10px;
}

.work_experience_divader{
  color: #000000;
}

.work_experience_duties{
  padding: 0 0 0 18px;
  /* width: 510px; */
}

.work_experience_duti{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959
}


.sidebar {
  background-color: #1e2939;
  padding: 57px 0px;
  margin-left: 16.66%;
  height: 100vh;
  /* width: 370px; */
}
.sidebar img{
  width: 100%;
}
.sidebar_tech_skills,
.sidebar_contacts {
  margin: 50px 0px 45px 40px;
}


.sidebar_h3, .sidebar_footer_h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 10px;
}

/* contacts section*/

.sidebar_contacts_link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
}

.sidebar_contacts_type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 8px;
}

.skills {
  padding: 0px 0px 0px 18px;
}

.skills_dot {
  color: #fb6d3a;
}

.skills_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.abbr{
  text-decoration: none;
}

footer{
  background-color: #1e2939;
  margin-top: 20px;
  height: auto;
}

.sidebar_footer_h3{
  float: left;
  margin: 10% 0px;
  
}

.contacts_item{
  float: left;
  position: absolute;
  left: 50%;
  margin: 6% 0px;
}

@media (max-width: 320px){
  .sidebar_footer_h3{float: none; margin-bottom: 10px;}
  .contacts_item{float: none; left: auto; margin: 0px;}
  footer{position: absolute; bottom: 0px; height: 10vh;}

}

@media (min-width: 416px){
footer{display: none;}
}

@media (max-width: 416px){
  .sidebar_contacts{display: none;}
  }


@media (min-width: 426px) and (max-width: 991px){
  #main{margin: auto;}
  #type{display: none;}
  .sidebar{padding: 0px; width: 100%; margin: 0px; height: auto;}
  #sidebar_contacts{background-color: #1e2939;}
  .sidebar_contacts_type{margin: 0;}
  .main_content{margin: 0px;}


}

@media (max-width: 425px){
  #main{margin: auto;}
  .sidebar{padding: 0px;}
  .sidebar_contacts, .sidebar_tech_skills, .skills, .sidebar, .sidebar_contacts_type, .main_content{margin: 0px;}
  .sidebar_h3{margin-top: 10px; margin-bottom: 5px;}
  .sidebar{width: 100%; height: auto;}
  #type{display: none;}
  
}